<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="{{ site.url }}"/>
<link rel="stylesheet" href="https://use.typekit.net/qrl8dlc.css">
<link rel="stylesheet" href="https://system.damato.design/decorations.css">
<link rel="stylesheet" href="https://system.damato.design/themes/jennifer.theme.css">
<script src="https://system.damato.design/registrar.iife.js" defer></script>
<link rel="stylesheet" href="/style.css">