<nav>
  <header>
    <a href="/">
      {% include "logo.svg" %}
    </a>
    <label for="navigation-toggle">
      <liga-icon>menu</liga-icon>
    </label>
  </header>
  <input type="checkbox" id="navigation-toggle"/>
  <div data-density-shift>
    <a id="skip" href="#content">Skip to main content</a>
    <ul>
    {%- for label, link in site.navigation %}
      <li>
        <a href="{{ link }}" {{ 'download' if 'pdf' in link }}>{{ label }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</nav>