<ul class='work'>
  {%- for work in collections.page | reverse %}
  <li>
    <a href="{{ work.url }}">
      {%- if work.data.img %}
      <div class="work-frame">
        <img src="{{work.data.img}}" class="work-image"/>
        <div class="work-info">
          <h3>{{ work.data.title }}</h3>
          <span class="text--detail">{{ work.data.date | year }}</span>
        </div>
      </div>
      {% endif %}
    </a>
  </li>
  {%- endfor %}
</ul>