---
import PortfolioCard from '@components/PortfolioCard.astro';
import Layout from '@layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const about = await getEntry('other', 'about');
const work = await getCollection('work');
const sorted = work.sort((a: CollectionEntry<'work'>, b: CollectionEntry<'work'>) => Number(new Date(b.data.date)) - Number(new Date(a.data.date)));
---

<style>
	div {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
</style>

<Layout { ...about.data }>
	<div>
		{ sorted.map((post) => {
			return <PortfolioCard { ...post.data } url={ `/work/${post.slug}` }/>
		}) }
	</div>
</Layout>
