<style>
    footer {
        padding-block: 1rem;
    }

    p {
        font-size: .8em;
    }
</style>

<footer>
    <div class="max-width">
        <p>Copyright &copy; 2025, Jennifer D’Amato</p>
    </div>
</footer>