---
import Logo from '@assets/shape.svg';

const navigation = {
    About: '/about',
    Work: '/',
    Resume: 'https://resume.damato.design/jennifer',
    Contact: 'https://cal.com/jennifer-damato'
}
---

<style>
    .navigation {
        position: sticky;
        top: 1rem;
        pointer-events: none;
        margin-block: 1rem;
        z-index: 1;
    }

    nav {
        pointer-events: initial;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        background-color: color-mix(in oklch, white, transparent 30%);
        backdrop-filter: blur(5px);
        padding: 1rem 1.5rem;
        border-radius: 100vw;
        border: 1px solid white;
        /* max-width: min(var(--content-width) - 4rem, 100vw - 4rem); */
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    nav :global(svg) {
        height: 1.5lh;
    }

</style>

<div class="navigation">
    <nav class="max-width">
        <a href="/">
            <Logo/>
        </a>
        <ul>
            { Object.entries(navigation).map(([label, href]) => <li><a href={ href }>{ label }</a></li>) }
        </ul>
    </nav>
</div>