---
const { url, img, title, desc, accent } = Astro.props;
const bgimg = `url(${img})`;
---

<style define:vars={{ accent }} >

    a {
        display: flow-root;
        text-decoration: none;
        position: relative;
    }

    .filter {
        filter: drop-shadow(12px -12px 0 color-mix(in oklch, var(--accent), transparent 10%));
    }

    .shape {
        clip-path: url(#shape);
        width: 60%;
        shape-outside: url('shape.svg');
        shape-margin: 1rem;
        float: right;
        aspect-ratio: 720/432;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .content {
        padding-block: 1rem;
        position: relative;
        border-radius: 2rem;
        max-width: 50%;
    }

    @media screen and (max-width: 600px) {
        .filter {
            position: absolute;
            inset: 0;
        }

        .content {
            background: color-mix(in oklch, white, transparent 10%);
            max-width: 300px;
        }
    }
</style>

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
    <clipPath id="shape" clipPathUnits="objectBoundingBox">
        <path transform="scale(0.00138887, 0.00231481)" d="M504.1 0h-216c-22.7 0-44 10.7-57.6 28.8l-216 288C-21.1 364.3 12.8 432 72.1 432h432c119.3 0 216-96.7 216-216S623.4 0 504.1 0Z"/>
    </clipPath>
</svg>

<a href={ url }>
    <div class="filter">
        <div class="shape" style={{ backgroundImage: bgimg }} />
    </div>
    <div class="content">
        <h2>{ title }</h2>
        <p>{ desc }</p>
    </div>
</a>