---
import Roles from '@components/Roles.astro'
const { url, img, title, desc, roles } = Astro.props;
---

<style>

    a {
        display: flow-root;
        text-decoration: none;
    }

    img {
        mask-image: url('shape.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        float: right;
        shape-outside: url('shape.svg');
        shape-margin: 1rem;
        width: 70%;
    }

    .content {
        padding-block: 1rem;
    }
</style>

<a href={ url }>
    <img src={ img } />
    <div class="content">
        <h2>{ title }</h2>
        <p>{ desc }</p>
    </div>
</a>