---
import Layout from '@layouts/Layout.astro';
import Float from '@components/Float.astro';
import Roles from '@components/Roles.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('work');
  return posts.map((post) => {
    return {
      params: { id: post.slug },
      props: { post },
    }
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<style>

:global(h2, h3) {
  margin-block-start: 1.5em;
  margin-block-end: .5em; 
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: end;
  justify-content: center;
  padding-inline: 15%;
  color: white;
}

.things {
  font-family: "Syncopate", serif;
  font-weight: bolder;
}

</style>

<Layout { ...post.data }>
  <Float>
    <div class="content" style={{ backgroundColor: post.data.accent }}>
      <div class="things">
        <div>{ new Date(post.data.date).getFullYear() }</div>
      <div>{ post.data.project }</div>
      </div>
      <!-- <Roles roles={ post.data.roles }/> -->
    </div>
  </Float>
	<Content/>
</Layout>
