---
import Layout from '@layouts/Layout.astro';
import Float from '@components/Float.astro';
import Roles from '@components/Roles.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('work');
  return posts.map((post) => {
    return {
      params: { id: post.slug },
      props: { post },
    }
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<style>

:global(h2, h3) {
  margin-block-start: 1.5em;
  margin-block-end: .5em; 
}

:global(img) {
  display: block;
  margin-block: 1em;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: start;
  align-items: start;
  padding-block: 1.5rem;
  padding-inline-end: 30%;
  color: white;
}

hr {
  align-self: stretch;
  margin: 0;
  border: 0;
  border-left: 1px solid white;
}

.lockup {
  font-family: "Syncopate", serif;
  font-weight: bolder;
  text-align: right;
  align-self: end;
  transform-origin: bottom right;
  scale: .7;
}

.year {
  font-size: 1.5em;
  margin-block-end: .25em;
}

</style>

<Layout { ...post.data }>
  <Float>
    <div class="content" style={{ backgroundColor: post.data.accent }}>
      <div class="lockup">
        <div class="year">{ new Date(post.data.date).getFullYear() }</div>
        <div>{ post.data.project } project</div>
      </div>
      <hr/>
      <Roles roles={ post.data.roles }/>
    </div>
  </Float>
	<Content/>
</Layout>
